<h2>User info</h2>
<h4>画像</h4>
  <% if user && user.image.attached? %>
    <%= image_tag user.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
<% if user %>
<ul>
<li>name <%= user.name %></li>
<li>introduction <%= user.introduction %></li>
<li>
  <%= link_to "edit", edit_user_path(current_user) %>
</li>
</ul>
<% end %>
<h2>New book</h2>
<%= form_with model: book do |f| %>
<h4>title</h4>
<%= f.text_field :title %>

<h4>opinion</h4>
<%= f.text_area :body %>

<%= f.submit 'Create book' %>
<% end %>